@charset "UTF-8";


/*웹, 모바일 안보임*/

/*768px 아이패드 사이즈 까지*/
@media screen and (max-width:768px) {
	/*모바일 세팅*/
	body {min-width:auto;}
	.
}


	/* 모바일뷰에서 안보임 */
	.gnb, .util {display:none;}

	/* 모바일뷰에서 보임 */
	.panel, .panelBg, .panelMenu, .menuLogo, .login, .close {display:block;}




	/* 헤더 */


    
    #header h1 {
        width: 110px;
        height: 35px;
        background-position: 0 0;
		text-align:center;
        position: absolute;
		top:30%;
		left:5%;
    }

	.panel {
		position:absolute;
		width:18px;
		height:18px;
		background:url(../images/panel.png) no-repeat;
		background-size:cover;
		text-indent:-9999;
		right:5%;
		top: 40%;
	}

.panelMenu{
    position: fixed;
    top: 0;
    right: 0;  
    width: 0;
    padding: 40px 0;
    overflow: hidden;
    height: 100%;
    background: #000;
    box-sizing: border-box;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    transition: width 0.3s;
    z-index: 9;
}
.panelMenu li {
	font-family:'NotoSans-Thin';
    margin-bottom:0px;
    margin-left: 40px;
}
.panelMenu a {
    color: #fff;
}
.panelMenu .menuLogo {
    width: 100px;
    margin-bottom: 50px;
}
.menuLogo img{
    width: 100%;
}
.login {
    position: absolute;
    font-size: 12px;
    right: 40px;
    bottom: 20px;
}
.login li{
    float: left;
    margin-left: 20px;
}
.close {
    position: absolute;
    right: 25px;
    top: 15px;
}